img {
	width: 42%;
	margin-top: -5em;
	margin-left: 12em;
	position: absolute;
}

h3 {
	margin-top: 9em;
	margin-left: 45em;
	font-size: 1.4em;
	text-align: left;
	color: gray;
}

ol {
	margin-left: 55em;
	font-size: 1.1em;
	line-height: 1.4em;
	margin-bottom: 45em;
	color: gray;
}

.selected {
	color: blue;
}

body {
	background-image: url(flowers.jpg);
	color: black;
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 6em;
	text-align: center;
	margin-bottom: 1em;
}

h2 {
	font-size: 3em;
	color:#b3b3b3;
	text-align: center;
	margin-bottom: 2em;
}

p {
	color: black;
	font-size: 0.9em;
	text-align: center;
	line-height: 0.5em;
}

.label {
	color: gray;
}

.highlight {
	color: blue;
}

